
<div class="cta-running-add">
    <p class="hide-for-tablet">Get our latest offers today</p>
    <p>Call: &nbsp;<a href="tel:+254717481718">+254717481718</a> </p>
    <p class="hide-for-mobile">Email: &nbsp;<a href="mailto:maya@mayacomputers.co.ke">maya@mayacomputers.co.ke</a> </p>

</div>
<nav class="main-nav">
    <div class="main-logo">
        <a href="/"><img src="/images/logo.svg" alt=""></a>
    </div> 
    <div class="search-product">
        <form class="flex" action="/search" method="post">
            <input type="text" placeholder="Search" name="searchterm" id="search-term" class="search-term"/>
            <button class="" type="submit"><img src="/images/icons/search.svg" alt=""></button> 
        </form>   
    </div>
    <div class="flex nav-group">
        <a href="/" class="nav-item hide-for-mobile">Home</a>
        <div class="account">
            <%if(!locals.isAdmin){%>
                <%if(locals.isLoggedIn){%>
                    <div class="flex" id="account-btn" style="cursor: pointer;"> 
                        <img src="/images/icons/account.svg" alt="">
                        <span class="nav-item"><%=locals.username%></span>
                        <img id="nav-caret" src="/images/icons/caret.svg" alt="">
                    </div>
                <%}else{%>
                    <div class="flex" style="cursor: pointer;">
                        <img src="/images/icons/account.svg" alt=""> 
                        <a href="/signin" class="nav-item">Account</a>
                    </div>
                <%}%>
            <%}else{%>
                <div class="flex" style="cursor: pointer;"> 
                    <a href="/admin-panel/stock" class="nav-item">Admin Panel</a>
                </div>
            <%}%>
          
            <div class="account-dropdown hide-a-d">
                <%if(!locals.isLoggedIn){%>
                <a href="/signin" class="signin-link pri-btn">
                    SIGN&nbsp;IN
                </a>
                <%}%>
                <a href="/customer/account/<%=locals.userId%>">
                    Your Account
                </a>
                <a href="/customer/cart/<%=locals.userId%>">
                    Your Cart
                </a>
                <a href="/customer/orders/<%=locals.userId%>" class="track-orders">
                    Your Orders
                </a>
                <%if(locals.isLoggedIn){%>
                <a href="/logout" class="signin-link pri-btn">
                    SIGN&nbsp;OUT
                </a>
                <%}%>   
            </div>
        </div>
        <div class="flex cart-container">
           
            <%if(locals.isLoggedIn && cart){%>
                <%if(!locals.isAdmin){%>
                    <a href="/customer/cart/<%=locals.userId%>">
                        <img src="/images/icons/cart.svg" alt="" id="cart-icon">
                    </a>
                <%}%>
                <%let userCart = cart.filter(cartItem=>cartItem.userId===locals.userId)%>
                <%if(!locals.isAdmin){%>
                <p class="cart-count"><%=userCart.length%></p>
                <%}%>
            <%}else{%>
                <%if(!locals.isAdmin){%>
                    <a href="/signin">
                        <img src="/images/icons/cart.svg" alt="" id="cart-icon">
                    </a>
                <%}%>
                <%let userCart = cart.filter(cartItem=>cartItem.userId==browserId)%>
                <%if(!locals.isAdmin && browserId?.length>0){%>
                <p class="cart-count"><%=userCart.length%></p>
                <%}%>
            <%}%>
            
        </div>
    </div>
</nav>

<script>
  
    
    // account dropdown
    document.querySelector('#account-btn').addEventListener('click', ()=>{
        document.querySelector('.account-dropdown').classList.toggle('hide-a-d')
        document.querySelector('#nav-caret').classList.toggle('rotate')
   
    })
    
</script>

