
<div class="cta-running-add">
    <p>Get our latest offers today</p>
    <p>Call: &nbsp;<a href="tel:+254717481718">+254717481718</a> </p>
    <p>Email: &nbsp;<a href="mailto:maya@mayacomputers.co.ke">maya@mayacomputers.co.ke</a> </p>

</div>
<nav class="main-nav">

    <div class="main-logo">
        <a href="/"><img src="/images/logo.svg" alt=""></a>
    </div> 
    <div class="search-product">
        <form class="flex" action="/search" method="post">
            <input type="text" placeholder="Search" name="searchterm" id="search-term" class="search-term"/>
            <button type="submit"><img src="/images/icons/search.svg" alt=""></button> 
        </form>   
    </div>
    <div class="flex nav-group">
        <a href="/" class="nav-item">Home</a>
        <div class="account">
            <%if(!locals.isAdmin){%>
                <%if(locals.isLoggedIn){%>
                    <div class="flex" id="account-btn" style="cursor: pointer;"> 
                        <img src="/images/icons/account.svg" alt="">
                        <span class="nav-item"><%=locals.username%></span>
                    </div>
                <%}else{%>
                    <div class="flex" style="cursor: pointer;">
                        <img src="/images/icons/account.svg" alt=""> 
                        <a href="/signin" class="nav-item">Account</a>
                    </div>
                <%}%>
            <%}else{%>
                <div class="flex" style="cursor: pointer;"> 
                    <a href="/admin-panel" class="nav-item">Admin Panel</a>
                </div>
            <%}%>
          
            <div class="account-dropdown hide-a-d">
                <%if(!locals.isLoggedIn){%>
                <a href="/signin" class="signin-link pri-btn">
                    SIGN&nbsp;IN
                </a>
                <%}%>
                <a href="/customer/account/<%=locals.userId%>">
                    Your Account
                </a>
                <a href="/customer/cart/<%=locals.userId%>">
                    Your Cart
                </a>
                <a href="/customer/orders/<%=locals.userId%>" class="track-orders">
                    Your Orders
                </a>
                <%if(locals.isLoggedIn){%>
                <a href="/logout" class="signin-link pri-btn">
                    SIGN&nbsp;OUT
                </a>
                <%}%>   
            </div>
        </div>
        <div class="flex cart-container">
            <%if(!locals.isAdmin){%>
            <img src="/images/icons/cart.svg" alt="" id="cart-icon">
            <%}%>
            
            <%if(locals.isLoggedIn){%>
                <%let userCart = cart.filter(cartItem=>cartItem.userId===locals.userId)%>
                <%if(!locals.isAdmin){%>
                <p class="cart-count"><%=userCart.length%></p>
                <%}%>
                <div class="cart hide" id="cart">
                    <p style="text-align: center;">YOUR CART PREVIEW</p> 
                    <%userCart.forEach(cartItem=>{%>
                        <a href="/product/<%=cartItem.productId%>" class="cart-item-name">
                           <%=cartItem.quantity%>&nbsp;<%=cartItem.productName%>
                        </a>
                        <br>
                    <%})%>
                    <a href="/customer/cart/<%=locals.userId%>"> <div class="checkout-btn">VIEW CART</div> </a>
                </div>
            <%}%>
            
        </div>
    </div>
</nav>

<script>
    document.getElementById('cart-icon').addEventListener('click',()=>{
        document.getElementById('cart').classList.toggle('hide')
    })
    
    // account dropdown
    document.querySelector('#account-btn').addEventListener('click', ()=>{
        document.querySelector('.account-dropdown').classList.toggle('hide-a-d')
   
    })
    
</script>

