<%- include('./partials/header')%>
<%- include('./partials/nav')%>
<%- include('./functions/formatMoney')%>
<div class="main-container customer-page">
    
    <div class="customer-nav customer-grid-item">
        <a href="/customer/account/<%=locals.userId%>">
            Account
        </a>
        <a class="active" href="/customer/cart/<%=locals.userId%>">
            Cart
        </a>
        <a href="/customer/orders/<%=locals.userId%>">
            Orders
        </a>
        <a href="/customer/history/<%=locals.userId%>">
            Purchase History
        </a>
        <a href="/customer/messages/<%=locals.userId%>">
            Messages
        </a>
        <a href="/customer/reviews/<%=locals.userId%>">
            Reviews
        </a>

    </div>
    <div class="customer-cart customer-grid-item">
        <div class="heading">Cart Details</div>
        <div class="content-grid">
            <%if(cart.length>0){%>
                <%let total = 0%>
                <%cart.forEach(cartItem=>{%>
                <%let product= products.find(product=>product.id===cartItem.productId)%>
                <%let itemPrice = product.price * cartItem.quantity  %>
                <%total = total + itemPrice%>
                <div class="content-card">
                    <div class="flex card-body">
                        <div class="cart-img">
                            <img src="/images/productImages/<%=product.images.split(',')[0]%>" alt="">
                        </div>
                        <div>
                        <p><%=cartItem.productName%></p>
                        <div class="content-center">
                            <div class="flex">
                                <p>Quantity:</p>
                                <%if(cartItem.quantity>=2){%>
                                <form action="/customer/cart/remove-one/<%=cartItem.id%>" method="post"> 
                                    <button class="pri-btn">-</button>
                                </form>
                                <%}%>
                                <input type="text" value="<%=cartItem.quantity%>" readonly>
                                <%if(cartItem.quantity < product.quantity){%>
                                <form action="/customer/cart/add-one/<%=cartItem.id%>" method="post">
                                    <button class="pri-btn">+</button>
                                </form>
                                <%}%>
                            </div>
                            <p>Price:  KSH.<%=formartMoney(itemPrice)%></p>
                        </div>
                        </div>
                        <div class="remove-cart-item">
                            <form action="/customer/cart/remove-item/<%=cartItem.id%>" method="post">
                                <button type="submit"> <img src="/images/icons/delete.svg" alt=""></button>
                            </form>
                        </div> 
                    </div>
                </div>

                <%})%>
          
            <div class="content-card cart-summary">
                <div class="heading">
                    <span>CART SUMMARY</span> 
                    <span>
                        <form action="/customer/cart/remove-all" method="post">
                            <button class="custom-clear-cart-btn" type="submit">CLEAR CART</button>
                        </form>
                    </span> 
                </div>
                <div class="card-body">
                    <p>You have <%=Object.keys(cart).length%> items in your cart</p>
                    <p>TOTAL<span class="checkout-amount" > KSH. <%=formartMoney(total)%></span></p>
                    <form action="/customer/cart/<%=locals.userId%>/coupon" method="post"><input type="text" class="coupon-input" id="coupon-input" name="coupon" placeholder="e.g. NOAH"><button type="submit" id="coupon-btn" class="pri-btn">APPLY COUPON</button></form>
                    <%if(discount>0){%>
                    <%if(couponIsValid){%>
                        <%total=total-discount%>
                        <p class="error-message">Coupon Applied Succesfully</p>
                    <%}else{%>
                        <p class="error-message">Coupon Invalid</p>
                    <%}%>
                    <%}%>
                    <!-- apply coupon here -->
                    <p class="price">CHECKOUT KSH. <span class="checkout-amount" > <%=formartMoney(total)%></span></p>
                    <div class="proceed-to-chekout" >
                        <a href="/customer/checkout/<%=locals.userId%>/<%=total%>" class="sec-btn">PROCEED TO CHECKOUT</a>
                    </div>
                </div>
            </div>
            <%}else{%>
            <div class="content-card">
                <div class="heading">
                    Your Cart is Empty
                </div>
                <p style="font-size:1.2rem; padding: 30px;">Go <a href="/" style="color:green ;">Shopping</a></p>
            </div>
            <%}%>
        </div>
    </div>
    
</div>
<script>
 //daraja
</script>

<script>
    document.getElementById('coupon-btn')
</script>

<%- include('./partials/footer')%>