<%- include('./partials/header')%>
<%- include('./partials/nav')%>
<%- include('./functions/formatMoney')%>
<div class="main-container customer-page">
    
    <div class="customer-nav customer-grid-item">
        <a  href="/customer/account/<%=locals.userId%>">
            Account
        </a>
        <a  href="/customer/cart/<%=locals.userId%>">
            Cart
        </a>
        <a href="/customer/orders/<%=locals.userId%>">
            Orders
        </a>
        <a href="/customer/history/<%=locals.userId%>">
            Purchase History
        </a>
        <a href="/customer/messages/<%=locals.userId%>">
            Messages
        </a>
        <a  href="/customer/reviews/<%=locals.userId%>">
            Reviews
        </a>

    </div>
    <div class="customer-checkout customer-grid-item">
        <div class="heading">
            DELIVERY METHODS AND PAYMENT
        </div>
        <div class="checkout-body">
        <div class="checkout-title">Pay KSH.<%=formartMoney(amount)%></div>
        <div>
            <div class="pickup-option checkout-option">
                <input type="radio" name="delivery-method" id="pickup" value="pickup">
                <label for="pickup"> <span class="title">Pickup Station</span> <br> Pick Up from one of our stations across the Country. <br>Choose a station below</label><br>
                <select name="pickup-stations" id="pickup-stations">
                    <option value="">-- Choose Station --</option>
                    <option value="eldoret-main">Eldoret Main Shop, Saito Center, Ground Floor</option>
                    <option value="kisumu-naivas">Kisumu Naivas - Ronald Ngala Street, 4th Floor</option>
                    <option value="kapsabet-naivas">Kapsabet Naivas - Ronald Ngala Street, 4th Floor</option>
                    <option value="kakamega-naivas">Kakamega Naivas - Ronald Ngala Street, 4th Floor</option>
                    <option value="kitale-naivas">kitale Naivas - Ronald Ngala Street, 4th Floor</option>
                </select><br><br>
                <button class="sec-btn">Pay Now</button>
                <button class="sec-btn">Pay on Pickup</button>
            </div>

            <div class="delivery-option checkout-option">
                <input type="radio" name="delivery-method" id="deliver" value="deliver">
                <label for="deliver"> <span class="title">Delivery</span> <br> We deliver to any part of the Country. <br>Our agent will call you through <%=user[0].phone%>( 
                    <%if(user[0].phone){%>
                        <a href="">Change</a>
                    <%}else{%>
                        <a href="" style="color: red;">Add Phone Number</a>
                    <%}%>)

                <br> once your order is ready for delivery</label>
            </div>

        </div>
        </div>
    </div>
    
</div>

<%- include('./partials/footer')%>