<%- include('./partials/header')%>
<%- include('./partials/nav')%>
<div class="products-category main-container">
    <%if(products.length==0){%>
        <h2 style="color:#ea2129 ;">We could not find any <%=brand.toUpperCase()%> product in "<%=category.toUpperCase()%>"S</h2>
    <%}else{%>
        <h2 style="color: #09a609;">Showing results for <%=brand.toUpperCase()%> in <%=category.toUpperCase()%>S</h2>
    <%}%>
    <div class="products flex">
        
        <% for(let i=0; i< products.length; i++){ %>
     
        <div class="product flex">
            <a href="/product/<%=products[i].id%>">
            <div class="product-img">
                <img src="/images/productImages/<%=products[i].images.split(',')[0]%>" alt="">
            </div>
            </a>
            <p class="name"><%=products[i].name%></p>
            <p class="description"><%=products[i].specifications.slice(0,40)%>...</p>
            <%let n =products[i].price.toString().length%>
            <%if(n>3){%>
            <p class="price">KSH. <%=products[i].price.toString().slice(0,n-3) + ',' + products[i].price.toString().slice(n-3)%></p>
            <%}else{%>
                <p class="price">KSH. <%=products[i].price%></p>
            <%}%>
            <div class="ratings flex">
                <p>rated: 0</p>
                <p>0 reviews</p>
            </div>
            <%if(!locals.isLoggedIn){%>
                <form class="add-to-cart add-to-cart-link user-cart-form"  action="/add-to-cart?pId=<%=products[i].id%>&pName=<%=products[i].name%>&location=,"  method="post">
                    <input type="submit" value="+ ADD TO CART">
                </form>
            <%}else{%>
                <form class="add-to-cart add-to-cart-link" action="/add-to-cart?pId=<%=products[i].id%>&pName=<%=products[i].name%>&location=,products?category=<%=category%>" method="post">
                    <input type="submit" value="+ ADD TO CART">
                </form>
            <%}%>
        </div> 
       
        <%}%>
        
    </div>
    

</div>


<script>
   
</script>
<script>
   
</script>
<%- include('./partials/footer')%>