<%- include('./partials/header')%>
<%- include('./partials/nav')%>
<div class="main-container">
    <div class="show-case ">
        <nav class="show-item show-case-nav flex">
            <div id="nav-item1"  class="nav-item">
                <a href="/products?category=laptop">
                   Laptop Computers
                </a>
                <div class="nav-dropdown ">
                    <div class="nav-dropdown-group">
                        <h4>Brand</h4>
                        <div class="group-items">
                            <a href="/filter/laptop/hp">Hp</a>
                            <a href="/filter/laptop/mac">Macbook</a>
                            <a href="/filter/laptop/dell">Dell</a>
                            <a href="/filter/laptop/lenovo">Lenovo</a>
                            <a href="/filter/laptop/asus">Asus</a>
                            <a href="/filter/laptop/chrome">Chromebook</a>
                        </div>
                    </div>
                    <div class="nav-dropdown-group">
                        <h4>Memory</h4>
                        <div class="group-items">
                            <a href="/filter/laptop/ 4gb ram">4GB RAM</a>
                            <a href="/filter/laptop/ 8gb ram">8GB RAM</a>
                            <a href="/filter/laptop/ 16gb ram">16GB RAM</a>
                            
                        </div>
                    </div>
                    <div class="nav-dropdown-group">
                        <h4>Storage</h4>
                        <div class="group-items">
                            <a href="/filter/laptop/ 256 ssd">256 SSD</a>
                            <a href="/filter/laptop/ 500gb hdd">500GB HDD</a>
                            <a href="/filter/laptop/ 1TB hdd">1TB HDD</a>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div id="nav-item2"  class="nav-item">
                <a href="/products?category=desktop">
                    Desktop Computers
                </a>
                <div class="nav-dropdown ">
                    <div class="nav-dropdown-group">
                        <h4>Brand</h4>
                        <div class="group-items">
                            <a href="/filter/desktop/hp">Hp</a>
                            <a href="/filter/desktop/dell">Dell</a>
                            <a href="/filter/desktop/lenovo">Lenovo</a>
                            <a href="/filter/desktop/mac">Mac</a>
                            <a href="/filter/desktop/mac">Compaq</a>
                        </div>
                    </div>
                    <div class="nav-dropdown-group">
                        <h4>Memory</h4>
                        <div class="group-items">
                            <a href="">4GB 256SSD</a>
                            <a href="">8GB 256SSD</a>
                            <a href="">4GB 500HDD</a>
                            <a href="">8GB 500HDD</a>
                            <a href="">16GB 1TB-SSD</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="nav-item3"  class="nav-item">
                <a href="/products?category=accessories">
                    Computer Accessories
                </a>
                <div class="nav-dropdown ">
                    <div class="nav-dropdown-group">
                        <h4>Brand</h4>
                        <div class="group-items">
                            <a href="/filter/laptop/hp">Hp</a>
                            <a href="/filter/laptop/hp">Dell</a>
                            <a href="/filter/laptop/hp">Lenovo</a>
                            <a href="/filter/laptop/hp">Mac</a>
                            <a href="/filter/laptop/hp">SanDisk</a>
                        </div>
                    </div>
                    <div class="nav-dropdown-group">
                        <h4>Categories</h4>
                        <div class="group-items">
                            <a href="">Flash Disks</a>
                            <a href="">Laptop Chargers</a>
                            <a href="">Mice</a>
                            <a href="">Keyboards</a>
                            <a href="">Cables</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="nav-item4"  class="nav-item">
                <a href="/products?category=printers">
                    Printers
                </a>
                <div class="nav-dropdown ">
                    <div class="nav-dropdown-group">
                        <h4>Brand</h4>
                        <div class="group-items">
                            <a href="">Hp</a>
                            <a href="">Dell</a>
                            <a href="">Lenovo</a>
                            <a href="">Mac</a>
                            <a href="">Compaq</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="nav-item5"  class="nav-item">
                <a href="/products?category=supplies">
                    Office supplies
                </a>
                <div class="nav-dropdown ">
                    <div class="nav-dropdown-group">
                        <h4>Category</h4>
                        <div class="group-items">
                            <a href="">Electronics</a>
                            <a href="">Writing Materials</a>
                            <a href="">Furniture</a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </nav>
        <div class="show-item show-case-content hide-for-tablet">
            <div class="slide fade ">
                <img src="/images/add1.png" alt="">
                <img src="/images/add2.png" alt="">
                <img src="/images/addmain.jpg" alt="">
            </div>
            <div class="slide fade">
                <img src="/images/add4.png" alt="">
                <img src="/images/add5.png" alt="">
                <img src="/images/addmain.jpg" alt="">
            </div>
            <div class="slide fade ">
                <img src="/images/add6.png" alt="">
                <img src="/images/add7.png" alt="">
                <img src="/images/addmain.jpg" alt="">
            </div>
        </div>
        <div class="flex show-item show-case-cta">
            <a href="tel:+254717481718">
                <img src="/images/icons/call.svg" alt="">
                Call&nbsp;to order
            </a>
            <a href="mailto:maya@mayacomputers.co.ke">
                <img src="/images/icons/mail.svg" alt="">
                Email&nbsp;us 
            </a>
            <a href="https://wa.me/+254717481718" target="_blank">
                <img src="/images/icons/whatsapp.svg" alt="">
                Let's&nbsp;Chat 
            </a>
        </div>
    </div>
</div>
<!-- top sales -->
<section class="top-selling-items main-container">
    <h3 style="background-color: #d66c27; color: white; font-size:1.5rem; padding: 5px 0;">Top selling items</h3>
    <div class="products flex">
        <%if(true){%>
        <%let count = 0 %>
        <%products=products.filter(product =>product.quantity>0)%>
        <% for(let i=0; i< products.length; i++){ %>
        <%if(count===5){break;} %>
        <%count++%>
        <div class="product flex">
            <a href="/product/<%=products[i].id%>">
            <div class="product-img">
                <img src="/images/productImages/<%=products[i].images.split(',')[0]%>" alt="">
            </div>
            </a>
            <p class="name"><%=products[i].name%></p>
            <p class="description"><%=products[i].specifications.slice(0,45)%>...</p>
            <%let n =products[i].price.toString().length%>
            <%if(n>3){%>
                <p class="price">KSH. <%=products[i].price.toString().slice(0,n-3) + ',' + products[i].price.toString().slice(n-3)%></p>
            <%}else{%>
                <p class="price">KSH. <%=products[i].price%></p>
            <%}%>
            <div class="ratings flex">
                <p>rated: <%=products[i].rating%>/5</p>
                <p>0 reviews</p>
            </div>
            <%if(!locals.isLoggedIn){%>
                <form class="add-to-cart add-to-cart-link user-cart-form"  action="/add-to-cart?pId=<%=products[i].id%>&pName=<%=products[i].name%>&location=,"  method="post">
                    <input type="submit" value="+ ADD TO CART">
                </form>
            <%}else{%>
                <form class="add-to-cart add-to-cart-link" action="/add-to-cart?pId=<%=products[i].id%>&pName=<%=products[i].name%>&location=," method="post">
                    <input type="submit" value="+ ADD TO CART">
                </form>
            <%}%>
        </div> 
        <%}%>
        <%}%>
        <div class="view-more-btn flex">
            <a href="/products?category=topsales">
                <p>&#8921;</p>
                <p>VIEW&nbsp;MORE</p>
            </a>
        </div>
    </div>
</section>


<section class="new-arrivals main-container">
    <h3 style="background-color: #d66c27; color: white; font-size:1.5rem; padding: 5px 0;">Hot Deals</h3>
        <div class="products flex">
            <%if(true){%>
            <%let count = 0 %>
            <% for(let i=0; i< products.length; i++){ %>
            <%if(count===5){break;} %>
            <%count++%>
            <%if(products[i].rating> 0){%>
            <div class="product flex">
                <a href="/product/<%=products[i].id%>">
                <div class="product-img">
                    <img src="/images/productImages/<%=products[i].images.split(',')[0]%>" alt="">
                </div>
                </a>
                <p class="name"><%=products[i].name%></p>
                <p class="description"><%=products[i].specifications.slice(0,45)%>...</p>
                <%let n =products[i].price.toString().length%>
                <%if(n>3){%>
                    <p class="price">KSH. <%=products[i].price.toString().slice(0,n-3) + ',' + products[i].price.toString().slice(n-3)%></p>
                <%}else{%>
                    <p class="price">KSH. <%=products[i].price%></p>
                <%}%>
                <div class="ratings flex">
                    <p>rated: <%=products[i].rating%>/5</p>
                    <p>0 reviews</p>
                </div>
                <%if(!locals.isLoggedIn){%>
                   <form class="add-to-cart add-to-cart-link user-cart-form"  action="/add-to-cart?pId=<%=products[i].id%>&pName=<%=products[i].name%>&location=,"  method="post">
                    <input type="submit" value="+ ADD TO CART">
                    </form>
                <%}else{%>
                    <form class="add-to-cart add-to-cart-link" action="/add-to-cart?pId=<%=products[i].id%>&pName=<%=products[i].name%>&location=," method="post">
                        <input type="submit" value="+ ADD TO CART">
                    </form>
                <%}%>
            </div> 
            <%}else{count--}%>
            <%}%>
            <%}%>
            <div class="view-more-btn flex">
                <a href="/products?category=topsales">
                    <p>&#8921;</p>
                    <p>VIEW&nbsp;MORE</p>
                </a>
            </div>
        </div>
</section>


<script>
    const first = document.querySelector('.slide');
    const slide = () => {
        const before = document.querySelector('.showing');
        if (before) {
            before.classList.remove('showing');
            const next = before.nextElementSibling;
            if (next) {
                next.classList.add('showing')
            } else {
                first.classList.add('showing');
            }
        } else {
            first.classList.add('showing');
        }
    }
    slide();
    setInterval(slide, 8000);

    document.addEventListener("DOMContentLoaded", function (event) {
        let scrollpos = localStorage.getItem("scrollposIndex");
        if (scrollpos) window.scrollTo(0, scrollpos);
    });

    window.onscroll = function (e) {
        localStorage.setItem("scrollposIndex", window.scrollY);
        
    };
</script>
<script>
//     let navItems = document.querySelectorAll('.nav-item')
//    navItems.forEach(navItem=>{
//        navItem.addEventListener('mouseover', (e)=>{
 
//            e.target.querySelector('.nav-dropdown').classList.remove('hide');
//        })
//    })
  



</script>
<%- include('./partials/footer')%>