<%- include('./partials/header')%>
<%- include('./partials/nav')%>
<div class="main-container profile-page">
    
    <div class=" flex profile-body hide">
        <div class="user-data profile-body-item flex ">
            <div class="cart-info">
                <h2>Your Cart</h2>
                <%if(locals.isLoggedIn){%>
                    <%if(cart.length>0){%>
                    <%let total = 0%>
                    <%cart.forEach(cartItem=>{%>
                    <%let itemPrice = products.find(product=>product.id===cartItem.productId).price %>
                    <%total = total + itemPrice*cartItem.quantity%>
                    
                    <div class="profile-cart-item flex">
                        <a href="/product/<%=cartItem.productId%>" class="cart-item-name"><%=cartItem.productName%></a>
                        <div class="p-buttons">
                        <form class="price-form"  action="/update-cart-item/<%=cartItem.id%>" method="post">
                            <input class="quantity-input" type="number" min="1" name="quantity" value="<%=cartItem.quantity%>">
                            
                            <%let updatedPrice =itemPrice*cartItem.quantity %>
                            <%let n =updatedPrice.toString().length%>
                            <%if(n>3){%>
                                <p class="price">KSH. <%=updatedPrice.toString().slice(0,n-3) + ',' + updatedPrice.toString().slice(n-3)%></p>
                            <%}else{%>
                                <p class="price">KSH. <%=updatedPrice%></p>
                            <%}%>
                            <input class="update-quantity" type="submit" value="UPDATE">
                        </form>
                        <form action="/remove-cart-item/<%=cartItem.id%>" method="post"><input class="remove-item" type="submit" value="X">
                        </form>
                        </div>
                    </div>
                    <%})%>
                    
                    <div class="total-payable flex">
                        <%let n =total.toString().length%>
                        <%if(n>6){%>
                            <p class="price">TOTAL KSH. <%=total.toString().slice(0,n-6)+','+ total.toString().slice(n-6,n-3) + ',' + total.toString().slice(n-3)%></p>
                            
                        <%}else if(n>3){%>
                            <p class="price">TOTAL KSH. <%=total.toString().slice(0,n-3) + ',' + total.toString().slice(n-3)%></p>
                        <%}else{%>
                            <p class="price">TOTAL KSH. <%=total%></p>
                        <%}%>
                        
                         
                    </div>
                    <div class="payment-methods">
                        <h2>Payment Methods</h2>
                        <select name="payment-methods" id="">
                            <option value="">--Select Payment Option</option>
                            <option value="">M-pesa</option>
                            <option value="">PayPal</option>
                            <option value="">Master Card</option>
                        </select>
                        <div>
                            
                        </div>
                        <button class="pay-btn">PAY</button>
                    </div>
                    <%}else{%>
                        <p>Your cart is empty. Go shopping!!</p>
                    <%}%>
                    
                   
                <%}%>
            </div>
        </div>
       
    </div> 
</div>

<%- include('./partials/footer')%>