<%- include('./partials/header')%>
<%- include('./partials/nav')%>
<div class="main-container">
    <div class="product-container flex">
        <h2 class="product-title"><%=product.name%></h2>
        <div class="product-gallery flex slideshow-container">
            <%let images = product.images.split(',')%>
            <%images.forEach(image=>{%>
                <div class="mySlides fade">
                    <img class="product-image"  src="/images/productImages/<%=image%>" alt="">
                </div>
            <%})%>
            
            <a class="prev " onclick="plusSlides(-1)">❮</a>
            <a class="next" onclick="plusSlides(1)">❯</a>
            <p class="image-count"><span class="slide-index"></span>/<%=images.length%></p>
           
        </div>
        <p class="product-specs"><%=product.specifications%></p>
        <%let n =product.price.toString().length%>
        <%if(n>3){%>
            <p class="price">KSH. <%=product.price.toString().slice(0,n-3) + ',' + product.price.toString().slice(n-3)%></p>
        <%}else{%>
            <p class="price">KSH. <%=product.price%></p>
        <%}%>
        <%if(!locals.isLoggedIn){%>
            <div class="add-to-cart add-to-cart-btn">
                +&nbsp;ADD&nbsp;TO&nbsp;CART
            </div>
        <%}else{%>
            <form class="add-to-cart add-to-cart-link" action="/add-to-cart?pId=<%=product.id%>&pName=<%=product.name%>&location=," method="post">
                <input type="submit" value="+ ADD TO CART">
            </form>
        <%}%>
    </div>
</div>
<div class="login-modal" id="login-modal">
    <div class="login-modal-content">
        <p>Login to use cart</p>
        <button class="close-modal-btn">CLOSE</button>
        <a href="/signin"><button class="login-link-btn">LOGIN</button></a>
    </div>
</div>
<%- include('./partials/footer')%>
<script>
     document.querySelectorAll('.close-modal-btn').forEach(closeModalBtn=>{
        closeModalBtn.addEventListener('click', (e)=>{
            e.target.parentElement.parentElement.style.display='none'
        })   
    })
    document.querySelectorAll('.add-to-cart-btn').forEach(addToCartBtn=>{
        addToCartBtn.addEventListener('click', ()=>{
            document.getElementById('login-modal').style.display='block'
        })   
    })
    document.getElementById('login-modal').addEventListener('click',()=>{
        document.getElementById('login-modal').style.display='none'
    })
</script>
<script>
let slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  document.querySelector('.slide-index').textContent=slideIndex

  slides[slideIndex-1].style.display = "block";  
}
</script>