<%- include('./partials/header')%>
<%- include('./partials/nav')%>
<div class="products-category main-container">
    <h2><%=category.toUpperCase()%></h2>
    <div class="products flex">
        
        <% for(let i=0; i< products.length; i++){ %>
     
        <div class="product flex">
            <div class="product-img">
                <img src="/images/productImages/<%=products[i].images.split(',')[0]%>" alt="">
            </div>
            <p class="name"><%=products[i].name%></p>
            <p class="description"><%=products[i].specifications.slice(0,40)%>...</p>
            <%let n =products[i].price.toString().length%>
            <%if(n>3){%>
            <p class="price">KSH. <%=products[i].price.toString().slice(0,n-3) + ',' + products[i].price.toString().slice(n-3)%></p>
            <%}else{%>
                <p class="price">KSH. <%=products[i].price%></p>
            <%}%>
            <div class="ratings flex">
                <p>rated: 0</p>
                <p>0 reviews</p>
            </div>
            <%if(!locals.isLoggedIn){%>
                <div class="add-to-cart add-to-cart-btn">
                    +&nbsp;ADD&nbsp;TO&nbsp;CART
                </div>
            <%}else{%>
                <form class="add-to-cart add-to-cart-link" action="/add-to-cart?pId=<%=products[i].id%>&pName=<%=products[i].name%>&location=,products<%=category%>" method="post">
                    <input type="submit" value="+ ADD TO CART">
                </form>
            <%}%>
        </div> 
       
        <%}%>
        <div class="load-more-btn flex">
            <a href="/products?category=<%=category%>">
                << &nbsp;&nbsp; < 1 2 3 4 5 6 7 > &nbsp;&nbsp; >>
            </a>
        </div>
    </div>
    

</div>
<%- include('./partials/footer')%>