<%- include('./partials/header')%>
<%- include('./partials/nav')%>
<div class="main-container profile-page">
    <div class="profile-nav flex">
        <div class="profile-nav-item active" id="user-data">User data</div>
        <div class="profile-nav-item" id="address-data">Address info</div> 
        <%if(locals.isAdmin){%>
            <div class="profile-nav-item"id="find-product">Find/add Product</div>
            <div class="profile-nav-item" id="find-user">Find User</div>
        <%}%>
    </div>
    <div class=" flex profile-body">
        <div class="user-data profile-body-item ">
            <h5>Name: <%=user.firstName%></h5>
            <p>Email: <%=user.email%></p>
            <button>Update contact details</button>
        </div>
        <div class="address-data profile-body-item hide">
            <p>Address Details</p>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, cum?</div>
            <div>list of country wide pick points</div>
            <button>Update Adress data</button>
        </div>
        <div class="find-product profile-body-item hide">
            <div class="find-product-nav flex">
                sort by name, price, category.
                search imp.
                <a href="/products/new-product" class="new-product-btn">+ New Product</a>  
            </div>
            <div>
                products table here
            </div>
        </div>
        <div class="find-user profile-body-item hide">
            table of all users
            search user fucntionality
        </div>  
    </div> 
</div>
<script>
    document.querySelectorAll('.profile-nav-item').forEach(navItem=>{
        navItem.addEventListener('click', (e)=>{
            document.querySelectorAll('.profile-nav-item').forEach(navItem=>navItem.classList.remove('active'))
            e.target.classList.add('active')
            let targetEl = document.querySelector(`.${e.target.getAttribute('id')}`)
            // console.log(targetEl)
            document.querySelectorAll('.profile-body-item').forEach(bodyItem=>{
                if(!bodyItem.classList.contains('hide')){
                    bodyItem.classList.add('hide')
                }
            })
            targetEl.classList.remove('hide')
        })
    })
</script>
<%- include('./partials/footer')%>