<%- include('./partials/header')%>
<%- include('./partials/nav')%>
<div class="main-container">
    <div class="reg-page flex">
       
        <div class="reg-form">
            <h2 style="text-align: center;">Log in</h2>
            <%if(userData.success){%> <h3 class="success-message">Registration Sucessful. You can now Login</h3> <%}%>
            <%if(userData.loginError){%> <p class="error-message"><%=userData.errorMessage%></p><%}%>
            <%if(userData.loginError){%>
                <form class="login-user login-unique-user flex" action="/signin" method="post">
                    <input class="input-el" type="email" name="email"  value="<%=userData.loginEmail%>" required>
                    <input class="input-el" type="password" name="password"  value="<%=userData.loginPassword%>" required>
                    <input class="input-el" type="submit" value="Log In">
                </form>
            <%}else{%>
                <form class="login-user login-unique-user flex" action="/signin" method="post">
                    <input class="input-el" type="email" name="email"  placeholder="Your Email *" required>
                    <input class="input-el" type="password" name="password"  placeholder="Password *" required>
                    <input class="input-el" type="submit" value="Log In">
                </form>
            <%}%>
            
            <p style="text-align: center;">Do not have an Account? <a href="/signup" style="color: red;">Sign Up</a> </p>
           
        </div>
    </div>
</div>
<script>
    const fpPromise = import('https://openfpcdn.io/fingerprintjs/v3')
        .then(FingerprintJS => FingerprintJS.load())

  // Get the visitor identifier when you need it.
  fpPromise
    .then(fp => fp.get())
    .then(result => {
      // This is the visitor identifier:
      const visitorId = result.visitorId
      console.log(visitorId)
      document.querySelectorAll('.login-unique-user').forEach(form=>{
            let action = form.getAttribute('action')
            let newAction = action+`?uniqueId=${visitorId}`
            console.log(newAction)
            form.setAttribute('action', newAction)
      })
    })
</script>

<%- include('./partials/footer')%>