<%- include('./partials/header')%>
<%- include('./partials/nav')%>
<div class="main-container">
    <div class="reg-page flex">
        <div class="reg-form">
            <h2 style="text-align: center;">Sign Up</h2>
            <%if(userData.signupError){%> <p class="error-message"><%=userData.errorMessage%></p><%}%>
            <%if(!userData.signupError){%>
            <form class="signup-user flex" action="signup" method="post">
                <input class="input-el" type="text"name="firstName" placeholder="First Name *" required>
                <input class="input-el" type="text"name="lastName" placeholder="Last Name (optional)" >
                <input class="input-el" type="email" name="email" id="" placeholder="Email *" required>
                <div class="flex passwords">
                    <input class="input-el" type="password" name="password" id="" placeholder="Password *" required>
                    <input class="input-el" type="password" name="confirmPassword" id="" placeholder="Confirm Password *" required>
                </div>
                <input class="input-el" type="tel" name="phone" id="" placeholder="Phone Number (optional)" >
                <input class="input-el" type="submit" value="Create Account">
            </form>
            <%}else{%>
               
                <form class="signup-user flex" action="/signup" method="post">
                    <input class="input-el" type="text"name="firstName" value="<%=userData.firstName%>" required>
                    <%if(userData.lastName.length>0){%>
                        <input class="input-el" type="text"name="lastName" value="<%=userData.lastName%>">
                    <%}else{%>
                        <input class="input-el" type="text"name="lastName" placeholder="Last Name (optional)" >
                    <%}%>
                    <input class="input-el" type="email" name="email" id="" value="<%=userData.email%>" required>
                    <div class="flex passwords">
                        <input class="input-el" type="password" name="password" id="" value="<%=userData.password%>" required>
                        <input class="input-el" type="password" name="confirmPassword" id="" value="<%=userData.confirmPassword%>" required>
                    </div>
                    <%if(userData.phone.length>0){%>
                        <input class="input-el" type="tel" name="phone" id="" value="<%=userData.phone%>">
                    <%}else{%>
                        <input class="input-el" type="tel" name="phone" id="" placeholder="Phone Number (optional)" >
                    <%}%>
                    <input class="input-el" type="submit" value="Create Account">
                </form>
                
            <%}%>
            <p>Already have an account? <a href="/signin" style="color: red;">Sign in</a></p>
        </div>
       
    </div>
</div>


<%- include('./partials/footer')%>